/* Responsiveness for Tablet */
@media (max-width:52em) and (min-width:38em){
#maindiv{
    display: flex;
    flex-direction: column;
    height: 120vh;
    width: 100vw;
    justify-content: space-around;

}
#imagediv{
    height: 45vh;
    width: 90vw;

}
img{
    height: 45vh;
    width: 90vw;

}
#txtdiv{
    height:50vh ;
    width: 85vw;

}
h2{
    margin-top: 10px;
    font-size: 40px;

}
#giveaway{
    font-size: 30px;

}
#txt{
    font-size: 20px;
    line-height: 30px;
}
#timerdiv{
    width: 75vw;

}
#day , #hour, #min, #sec{
    height: 13vh;
    width: 16vw;

}
}

/* Responsive Design for Smartphones */
@media (max-width:37em) and (min-width: 22em){
#maindiv{
    display: flex;
    flex-direction: column;
    height: 110vh;
    width: 100vw;
    justify-content: space-around;

}
#imagediv{
    height: 40vh;
    width: 85vw;

}
img{
    height: 40vh;
    width: 85vw;
    
}
#txtdiv{
    height: 60vh;
    width: 90vw;

}
h2{
    margin-top: 30px;

}
#giveaway{
    font-size: 15px;

}
#txt{
    font-size: 12px;
    line-height: 20px;

}
#timerdiv{
    width: 90vw;
    
}
#day, #hour, #min, #sec{
    height: 11vh;
    width: 16vw;

}
}

@media (max-width:21em){
    #maindiv{
        display: flex;
        flex-direction: column;
        height: 150vh;
        width: 100vw;
        justify-content: space-around;
    
    }
    #imagediv{
        height: 40vh;
        width: 60vw;
    
    }
    img{
        height: 40vh;
        width: 60vw;
    
    }
    #txtdiv{
        height:50vh ;
        width: 85vw;
    
    }
    h2{
        margin-top: -110px;
        font-size: 25px;
    
    }
    #giveaway{
        font-size: 15px;
    
    }
    #txt{
        font-size: 20px;
        line-height: 20px;
    }
    #timerdiv{
        width: 85vw;
    
    }
    #day , #hour, #min, #sec{
        height: 15vh;
        width: 20vw;
    
    }
}