*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 68, 68);
    height: 100vh;
    width: 100vw;
}
#Maindiv{

    width: 87vw;
    height: 75vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border-radius: 20px;
}



#imagediv{

    width: 43vw;
    height: 70vh;
    border-radius: 20px;

}
#textdiv{

    width: 38vw;
    height: 70vh;

}
img{
    width: 43vw;
    height: 70vh;
    border-radius: 20px;
}
h2{
    letter-spacing: 3px;
    word-spacing: 2px;
    color:white;
    margin-top: 55px;

}
#giveaway{

    font-weight: bold;
    letter-spacing: 2px;
    color: dodgerblue;
    margin-top: 15px;
}
#text
{
    line-height: 23px;
    color: white;
    margin-top: 15px;

}
#timerdiv{
    width: 36vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 15px;

}
#day{

    height: 15vh;
    width: 7vw;
    background-color: dodgerblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;


}
#hour{

    height: 15vh;
    width: 7vw;
    background-color: dodgerblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 


}
#min{

    height: 15vh;
    width: 7vw;
    background-color: dodgerblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;


}
#sec{

    height: 15vh;
    width: 7vw;
    background-color: dodgerblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;


}
#dt, #ht, #mt, #st{
    display: flex;
    justify-content: center;
    align-items: center;
}

#daynum, #hrnum, #minnum, #secnum{
    font-size: 40px;
    font-weight: bold;

}

#dhms{
    display: flex;
    justify-content: center;
    align-items: center;
}